# Q1
1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

Ans.

In [3]:
years_list = [i for i in range(1994,2000)]
years_list

[1994, 1995, 1996, 1997, 1998, 1999]

# Q2
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

Ans.

In [4]:
years_list[3]

1997

# Q3
3. In the years list, which year were you the oldest?

Ans.

In [5]:
years_list[-1]

1999

# Q4
4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

Ans.

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

# Q5
5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Ans.

I am assuming "cinderella" refers to the person, I'll capitalize it

In [8]:
things[1].capitalize()

'Cinderella'

In [10]:
print(things)
print("No, it doesn't change the element in the list")
print("To change it, we've to assign it")
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'cinderella', 'salmonella']
No, it doesn't change the element in the list
To change it, we've to assign it
['mozzarella', 'Cinderella', 'salmonella']

# Q6
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

Ans.

In [14]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

# Q7
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

Ans.

In [15]:
surprise[-1] = surprise[-1].lower()
surprise.reverse()
surprise

['harpo', 'Chico', 'Groucho']

# Q8
8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

Ans.

In [16]:
e2f = {
    "dog":"chien",
    "cat":"chat",
    "walrus":"morse"
}

e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# Q9
9. Write the French word for walrus in your three-word dictionary e2f.

Ans.

In [17]:
e2f["walrus"]

'morse'

# Q10
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

Ans.

In [29]:
f2e = {y:x for x,y in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# Q11
11. Print the English version of the French word chien using f2e.

Ans.

In [30]:
f2e["chien"]

'dog'

# Q12
12. Make and print a set of English words from the keys in e2f.

Ans.

In [31]:
e2f["new_english_key"] = "new_french_value"

In [32]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus', 'new_english_key'])

# Q13
13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

Ans.

In [33]:
life = {
    "animals":{
        "cats":["Henri", "Grumpy", "Lucy"],
        "octopi":{},
        "emus":{}
    },
    "plants":{},
    "other":{}
}

In [34]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# Q14
14. Print the top-level keys of life.

Ans.

In [35]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# Q15
15. Print the keys for life['animals'].

Ans.

In [36]:
life["animals"].keys()

dict_keys(['cats', 'octopi', 'emus'])

# Q16
16. Print the values for life['animals']['cats']

Ans.

In [37]:
life["animals"]["cats"]

['Henri', 'Grumpy', 'Lucy']